<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-4 mt-5" *ngIf="mailSend">
            <div class="alert alert-success text-center">Un email vous à été envoyé.</div>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Chargement...</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-11 col-md-4">
                <form class="row justify-content-center" name="form" (ngSubmit)="onSubmit()" novalidate>
                    <h1 class="text-center my-4">Récupération du mot de passe oublié</h1>
                    <h5 class="text-muted">Nous allons vous envoyer un email pour changer votre mot de passe</h5>
                    <div class="mb-3">
                        <label class="form-label" for="email">E-mail :</label>
                        <input class="form-control" id="email" name="email" [(ngModel)]="model.email" type="email"
                               placeholder="JohnDoe@gmail.com" required/>
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <div class="mx-2">
                            <button class="btn btn-primary">Envoyer la demande</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

