<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="head">
        <title>Gestion des contacts</title>
        <link href="/static/scss/contact.css" rel="stylesheet"/>
    </th:block>

    <div layout:fragment="body">
        <div class="container">
            <h1 class="text-center my-4">Gestion des Contacts</h1>
            <div class="row justify-content-center">
                <div class="col-11">
                    <div class="text-end">
                        <a class="btn btn-primary" th:href="@{/admin/contact/new}">Ajouter un contact</a>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Telephone</th>
                                <th scope="col">Role</th>
                                <th colspan="2">Modifier</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user, userStat : ${users}">
                                <th scope="row" th:text="${userStat.index + 1}">Index</th>
                                <td th:text="${user.lastName}">Nom</td>
                                <td th:text="${user.firstName}">Prenom</td>
                                <td th:text="${user.email}">Email</td>
                                <td th:text="${user.phone}">Telephone</td>
                                <td th:text="${user.role == 'ROLE_USER'} ? 'Utilisateur' : 'Administrateur'">Role</td>
                                <td class="text-end td-edit"><a th:href="@{/admin/contact/update/{id} (id = ${user.id})}" class="link" href="#"><img class="icon" src="/static/img/edit.png" alt="Logo éditer"></a></td>
                                <td class="td-delete"><a class="link" th:href="@{/admin/delete/{id} (id = ${user.id})}"><img class="icon" src="/static/img/delete.png" alt="Logo supprimer"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>