/***** Picture *****/

.workshop-picture {
  width: 100%;
  object-fit: cover;
  max-width: 250px;
  max-height: 150px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

/***** Icons *****/

.bi-pencil-fill, .bi-trash {
  color: white;
}

.bi-check-lg {
  color: green;
  font-size: 1.1rem;
}

.bi-x-lg {
  color: red;
  font-size: 1.1rem;
}
