<div class="container" *ngIf="isLoggedIn && showAdminBoard; else loggedOut">
    <h1 class="text-center my-4">Gestion des réseaux sociaux</h1>
    <div class="text-end d-flex justify-content-end">
        <div><a class="btn btn-primary m-1" routerLink="/admin/footer/new">Ajout d'un réseau social</a></div>
        <div><a class="btn btn-secondary m-1" routerLink="/admin/home">Retour</a></div>
    </div>
    <div class="table-responsive d-block d-md-none my-2">
        <table class="table table-bordered border-white my-5" *ngFor="let socialNetwork of socialNetworks; let index = index">
            <thead>
            <tr>
                <th>{{ "Réseau social " + (index + 1) }}</th>
                <th class="wrap-responsive" scope="col">{{ socialNetwork.name }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Image</th>
                <td class="text-center">
                    <a href="{{ socialNetwork.socialNetworkPath }}" target="_blank">
                        <img class="workshop-picture" src="{{ socialNetwork.picturePath == static  ? socialNetwork.picturePath : s3 + socialNetwork.picturePath }}" alt="Image du réseau social">
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row">visible</th>
                <td class="text-wrap text-center"><i class="{{ socialNetwork.visible ? 'bi bi-check-lg' : 'bi-x-lg' }}"></i></td>
            </tr>
            <tr>
                <th scope="row" colspan="2">
                    <div class="d-flex justify-content-around">
                        <div class="col-5">
                            <a routerLink="/admin/footer/edit/{{ socialNetwork.id }}" class="link btn btn-warning col-12">
                                Modifier
                            </a>
                        </div>
                        <div class="col-5">
                            <a (click)="deleteSocialNetwork(socialNetwork.id, socialNetwork.picturePath)" class="btn btn-danger col-12">
                                Supprimer
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive-md d-none d-md-block my-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" colspan="2">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Visible</th>
                <th scope="col" colspan="2">Modifier</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let socialNetwork of socialNetworks; let index = index">
                <th scope="row">{{ index + 1 }}</th>
                <th colspan="2">
                    <a href="{{ socialNetwork.socialNetworkPath }}" target="_blank">
                        <img class=social-network-picture src="{{ socialNetwork.picturePath == static  ? socialNetwork.picturePath : s3 + socialNetwork.picturePath }}" alt="Image du réseau social">
                    </a>
                </th>
                <td class="text-wrap">{{ socialNetwork.name }}</td>
                <td>{{ socialNetwork.visible ? "oui" : "non" }}</td>
                <td class="text-end td-edit">
                    <a routerLink="/admin/footer/edit/{{ socialNetwork.id }}" class="link">
                        <div class="btn btn-warning"><i class="bi bi-pencil-fill"></i></div>
                    </a>
                </td>
                <td class="td-delete">
                    <a class="link" (click)="deleteSocialNetwork(socialNetwork.id, socialNetwork.picturePath)">
                        <div class="btn btn-danger"><i class="bi bi-trash"></i></div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #loggedOut>
    <app-error401></app-error401>
</ng-template>

