<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Title section</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/scss/style.css"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <th:block th:replace="fragments/_bootstrap.html :: bootstrapHeadFragment">Bootstrap</th:block>
        <th:block th:replace="fragments/_jquerry.html :: jquerry">JQuerry</th:block>
        <link th:replace="fragments/_leaflet.html :: leafletHeadFragment">
    </head>
    <body class="d-flex flex-column min-vh-100">
        <header th:replace="fragments/_header.html :: headerFragment">Header</header>
        <script th:replace="fragments/_leaflet.html :: leafletBodyFragment">Leaflet</script>
        <div layout:fragment="body">Body</div>
        <th:block th:replace="fragments/_bootstrap.html :: bootstrapBodyFragment">Bootstrap</th:block>
    </body>
</html>