<div class="container" *ngIf="isLoggedIn && showAdminBoard; else loggedOut">
  <h1 class="text-center my-4">Espace Administrateur</h1>
  <div class="row justify-content-center">
    <div class="col-11 col-md-4 my-3">
      <div class="picture-link rounded">
        <a routerLink="/admin/workshop"><img class="picture rounded" src="/assets/img/workshop.jpg" alt="Image atelier"></a>
      </div>
      <h3 class="text-center my-2">Administration des ateliers</h3>
    </div>
    <div class="col-11 col-md-4 my-3">
      <div class="picture-link rounded">
        <a routerLink="/admin/contact"><img class="picture rounded" src="/assets/img/contact.jpeg" alt="Image utilisateur"></a>
      </div>
      <h3 class="text-center my-2">Administration des utilisateurs</h3>
    </div>
    <div class="col-11 col-md-4 my-3">
      <div class="picture-link rounded">
        <a href="#"><img class="picture rounded" src="/assets/img/reservation.jpeg" alt="Image réservation"></a>
      </div>
      <h3 class="text-center my-2">Administration des réservations</h3>
    </div>
    <div class="col-11 col-md-4 my-3">
      <div class="picture-link rounded">
        <a href="#"><img class="picture rounded" src="/assets/img/comments.jpg" alt="Image commentaires"></a>
      </div>
      <h3 class="text-center my-2">Administration des commentaires</h3>
    </div>
    <div class="col-11 col-md-4 my-3">
      <div class="picture-link rounded">
        <a routerLink="/admin/footer"><img class="picture rounded" src="/assets/img/footer.jpg" alt="Image footer"></a>
      </div>
      <h3 class="text-center my-2">Administration du footer</h3>
    </div>
    <div class="col-11 col-md-4 my-3">
      <div class="picture-link rounded">
        <a routerLink="/admin/badge"><img class="picture rounded" src="/assets/img/badge.jpg" alt="Image badge"></a>
      </div>
      <h3 class="text-center my-2">Administration des badges</h3>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <app-error401></app-error401>
</ng-template>
