<div class="container">
    <h1 class="text-center my-4">Gestion des ateliers</h1>
    <div class="text-end d-flex justify-content-end">
        <div><a class="btn btn-primary my-4" routerLink="/creation-atelier">Ajout d'un atelier</a></div>
    </div>
    <div class="table-responsive d-block d-md-none my-2">
        <table class="table table-bordered border-dark" *ngFor="let workshop of workshops; let index = index" (click)="workshopDetails(workshop.id)">
            <thead>
                <tr>
                    <th scope="col">{{ "Atelier " +  (index + 1) }}</th>
                    <th scope="col">{{ workshop.title }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Image</th>
                    <td class="text-center">
                        <img class="workshop-picture" src="{{ workshop.picturePath == static  ? workshop.picturePath : s3 + workshop.picturePath }}" alt="Image de l'atelier">
                    </td>
                </tr>
                <tr>
                    <th scope="row">Participants</th>
                    <td class="text-wrap"><i class="bi bi-person-fill"></i> : {{ workshop.reservationUser.length }} / {{ workshop.limitedPlaces }}</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td class="text-wrap">{{ workshop.confirmation ? "En cours" : "Terminer" }}</td>
                </tr>
                <tr>
                    <th scope="row">Date</th>
                    <td>
                        <p><i class="bi bi-calendar3"></i> : {{workshop.date | date : 'dd-MM-yyyy' }}</p>
                        <p><i class="bi bi-stopwatch"></i> : {{workshop.date | date : 'HH' }} h {{workshop.date | date : 'mm' }}</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td class="text-wrap">
                        <p><i class="bi bi-geo-alt-fill"></i> : {{workshop.streetNumber}} {{workshop.street}}</p>
                        <p><i class="bi bi-house-fill"></i> : {{workshop.postCode}} {{workshop.city}} </p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td style="max-width: 200px;" [innerHTML]="workshop.description | nl2br"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive-md d-none d-md-block my-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date et heure</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Participants</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let workshop of workshops; let index = index" (click)="workshopDetails(workshop.id)">
                    <td>
                        <img class="workshop-picture align-middle" src="{{ workshop.picturePath == static  ? workshop.picturePath : s3 + workshop.picturePath }}" alt="Image de l'atelier">
                    </td>
                    <td style="max-width: 200px;" [innerHTML]="workshop.description | nl2br"></td>
                    <td>{{ workshop.confirmation ? "En cours" : "Terminer" }}</td>
                    <td>
                        <p><i class="bi bi-calendar3"></i> : {{workshop.date | date : 'dd-MM-yyyy' }}</p>
                        <p><i class="bi bi-stopwatch"></i> : {{workshop.date | date : 'HH' }} h {{workshop.date | date : 'mm' }}</p>
                    </td>
                    <td>
                        <p><i class="bi bi-geo-alt-fill"></i> : {{workshop.streetNumber}} {{workshop.street}}</p>
                        <p><i class="bi bi-house-fill"></i> : {{workshop.postCode}} {{workshop.city}} </p>
                    </td>
                    <td>
                        <i class="bi bi-person-fill"></i> : {{ workshop.reservationUser.length }} / {{ workshop.limitedPlaces }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #loggedOut>
    <app-error401></app-error401>
</ng-template>
