<div class="container">
    <div class="row">
        <div class="my-4">
            <ul class="title d-flex justify-content-center">
                <li class="letter"><input type="checkbox" /><div class="yellow">A</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">T</div></li >
                <li class="letter"><input type="checkbox" /><div class="turquoise">E</div></li>
                <li class="letter"><input type="checkbox" /><div class="yellow">L</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">I</div></li>
                <li class="letter"><input type="checkbox" /><div class="turquoise">E</div></li>
                <li class="letter"><input type="checkbox" /><div class="yellow">R</div></li>
            </ul>
        </div>
    </div>
    <div class="row  d-flex justify-content-center my-4">
        <div class="col-11 col-lg-6">
            <img class="text-center col-8 rounded-1"
                 src="{{ workshop.picturePath == static ? workshop.picturePath : s3 +workshop.picturePath }}"
                 alt="Image de l'atelier"/>
        </div>
        <div class="col-lg-3 col-11">
            <p><i class="bi bi-geo-alt-fill"></i> : {{workshop.streetNumber}} {{workshop.street}}</p>
            <p><i class="bi bi-house-fill"></i> : {{workshop.postCode}} {{workshop.city}} </p>
            <p><i class="bi bi-calendar-event"></i> : {{workshop.date | date : 'dd-MM-yyyy' }}</p>
            <p><i class="bi bi-stopwatch"></i> : {{workshop.date | date : 'HH' }} h {{workshop.date | date : 'mm' }} </p>
            <p><i class="bi bi-person-fill"></i> places restantes
                : {{ workshop.limitedPlaces - workshop.reservationUser.length }}
                / {{ workshop.limitedPlaces }} </p>
            <span class="{{ workshop.confirmation ? 'badge bg-success' : 'badge bg-danger' }} my-2">
                {{ workshop.confirmation ? "En cours" : "Terminer" }}
            </span>
        </div>
    </div>
    <div class=" row justify-content-center  my-3">
        <h3 class=" display text-center my-5"><i class="bi bi-card-text"></i> Descirption de l'atelier : </h3>
        <div class="col-10">
            <p class="my-4 col-12" [innerHTML]="workshop.description | nl2br"></p>
        </div>
    </div>
    <div class="row justify-content-center my-4" *ngIf="isLoggedIn">
        <button type="button"
                class="btn btn-primary col-3"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">Participer
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Réservation d'atelier</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="my-5">Voulez-vous vraiment participer a l'atelier {{workshop.title}} ? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="reservation(workshop.id)"
                                data-bs-dismiss="modal">Oui
                        </button>
                        <button type="button" routerLink="/workshop/{{ workshop.id }}" class="btn btn-danger">Non</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <app-commentary [isLoggedIn]="isLoggedIn"></app-commentary>
        </div>
    </div>
</div>




