<div class="container">
    <div class="row">
        <div class="my-4">
            <ul class="title d-flex justify-content-center">
                <li class="letter"><input type="checkbox" /><div class="yellow">A</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">T</div></li >
                <li class="letter"><input type="checkbox" /><div class="turquoise">E</div></li>
                <li class="letter"><input type="checkbox" /><div class="yellow">L</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">I</div></li>
                <li class="letter"><input type="checkbox" /><div class="turquoise">E</div></li>
                <li class="letter"><input type="checkbox" /><div class="yellow">R</div></li>
            </ul>
        </div>
    </div>
    <div class="row  d-flex justify-content-around">
        <div class="col-11 col-lg-5 mb-4 mt-4">
            <img class="workshop-picture"
                 src="{{ workshop.picturePath == static ? workshop.picturePath : s3 +workshop.picturePath }}"
                 alt="Image de l'atelier"/>
        </div>
        <div class=" col-10 col-lg-5 mt-4">
            <p><i class="bi bi-geo-alt-fill"></i> : {{workshop.streetNumber}} {{workshop.street}}</p>
            <p><i class="bi bi-house-fill"></i> : {{workshop.postCode}} {{workshop.city}} </p>
            <p><i class="bi bi-calendar-event"></i> : {{workshop.date | date : 'dd-MM-yyyy' }}</p>
            <p><i class="bi bi-stopwatch"></i> : {{workshop.date | date : 'HH' }} h {{workshop.date | date : 'mm' }} </p>
            <p><i class="bi bi-person-fill"></i> places restantes
                : {{ workshop.limitedPlaces - workshop.reservationUser.length }}
                / {{ workshop.limitedPlaces }} </p>
            <span class="{{ workshop.confirmation ? 'badge bg-success' : 'badge bg-danger' }} my-2">
                {{ workshop.confirmation ? "En cours" : "Terminer" }}
            </span>

            <div class="my-4 text-md-start text-center" *ngIf="isLoggedIn && !userReservation.includes(currentUser.username)">
                <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Participer
                </button>
            </div>
        </div>
    </div>
    <div class=" row justify-content-center my-3">
        <h3 class=" display text-center my-3"><i class="bi bi-card-text icon"></i>Description de l'atelier : </h3>
        <div class="col-10">
            <p class="my-4 col-12" [innerHTML]="workshop.description | nl2br"></p>
        </div>
    </div>
    <div class="text-center my-4" *ngIf="isLoggedIn && !userReservation.includes(currentUser.username); else elseBlock">
        <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal">Participer
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Réservation d'atelier</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="my-5">Voulez-vous vraiment participer a l'atelier {{workshop.title}} ? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="reservation(workshop.id)">Oui</button>
                        <button type="button" routerLink="/workshop/{{ workshop.id }}" class="btn btn-danger" data-bs-dismiss="modal">Non</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <ng-template #elseBlock>
    <div *ngIf="isLoggedIn" class="text-center mt-4 mb-2">
                    <button *ngIf="workshop.confirmation == true" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modal'">Annuler votre reservation
                    </button>
                </div>
                <div class="modal fade" [attr.id]="'modal'" tabindex="-1" aria-labelledby="modalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Annuler votre reservation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="my-3 text-center">Voulez-vous vraiment annuler votre reservation suivante ?</p>
                                <p class="text-center fw-bold">{{ workshop.title }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success"
                                        data-bs-dismiss="modal" (click)="deleteReservationUser(workshop.id)">Oui
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
  </ng-template>
  <div class=" text-center my-3" *ngIf="!isLoggedIn">
    <a href="/login" class="btn btn-danger"> Connectez-vous pour vous inscrire</a>
  </div>
  <div class="my-5">
    <app-commentary [isLoggedIn]="isLoggedIn"></app-commentary>
  </div>

</div>




