<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_layout}">

<th:block layout:fragment="head">
    <title>Ateliers</title>
    <link href="/static/scss/admin.css" rel="stylesheet"/>
</th:block>

<div layout:fragment="body">
    <div class="container">
        <div class="text-center my-3">
            <h1 th:text="${workshop.title}"></h1>
            <h2 th:text="${workshop.streetNumber} +' '+ ${workshop.street} +' '+ ${workshop.city}"></h2>
            <div class="row">
                <div class="col-4">
                    <div><a href="#"><img class="workshop-picture shadow img-fluid rounded mx-auto d-block"
                                          th:src="${workshop.picture}" alt="Image de l'atelier"></a></div>
                    <div class="text-center text-wrap mt-2" th:text="${workshop.description}"></div>
                </div>
            </div>
        </div>
        <div th:if="${user != null}">
            <form action="#" th:action="@{/saveComment}" th:object="${comment}" method="POST">
                <div class="form-group">
                    <label for="comment">Ajouter un commentaire : </label>
                    <input type="text" th:field="*{comment}" id="comment" placeholder="content"
                           class="form-control mb-4 col-4">
                </div>

                <input type="hidden" th:value="${workshop.id}" name="workshopid" class="form-control mb-4 col-4">
                <button type="submit" class="btn btn-info col-2"> Save</button>
            </form>
        </div>
        <hr>


        <div class="">
            <h2>Commentaire : </h2>
            <div class="jusitfy-content-between" th:each="comment : ${workshop.getComments()}">
                <hr>
                <div class="justify-content-between d-flex align-items-center" >
                    <p th:text="${comment.getDiyUser().getUsername()} +' :'"/>
                    <p th:text="${#dates.format(comment.getCreatedAt(),'dd/MM/yyyy HH:mm')}"/>
                </div>
                <p th:text="${comment.getComment()}" class="p-3">
            </div>
        </div>


    </div>
</div>
</html>