<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="head">
        <title>Ateliers</title>
        <link href="/static/scss/admin.css" rel="stylesheet"/>
    </th:block>

    <div layout:fragment="body">
        <div class="container">
            <h1 class="text-center my-3">Liste des Ateliers</h1>
            <div class="row">
                <div class="col-4" th:each="workshop : ${workshops}">
                    <div><a th:href="@{/workshop/{id} (id = ${workshop.id})}"><img class="workshop-picture shadow img-fluid rounded mx-auto d-block" th:src="${workshop.picture}" alt="Image de l'atelier"></a></div>
                    <div class="text-center text-wrap mt-2" th:text="${workshop.title}"></div>
                </div>
            </div>
        </div>
    </div>
</html>