<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="head">
        <title>Connexion</title>
    </th:block>

    <div layout:fragment="body">
        <div class="container">
            <form id="loginForm" th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label class="form-label" for="username">Utilisateur</label>
                    <input id="username" class="form-control" name="username" type="text" placeholder="Utilisateur">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Mot de passe</label>
                    <input id="password" class="form-control" name="password" type="password" placeholder="Mot de passe">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Se connecter</button>
                </div>
            </form>
            <a href="/user">Créer un compte</a>
        </div>
    </div>
</html>