<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <head>
        <title>Espace administrateur</title>
        <link href="/static/scss/admin.css" rel="stylesheet"/>
    </head>

    <body>
        <div layout:fragment="body">
            <div class="container">
                <h1 class="text-center my-4">Espace Administrateur</h1>
                <div class="row justify-content-center">
                    <div class="col-11 col-md-4 my-3">
                        <div class="picture-link rounded">
                            <a th:href="@{/admin/workshop}"><img class="workshop-picture rounded" src="/static/img/workshop.jpg" alt="Image atelier"></a>
                        </div>
                        <h3 class="text-center my-2">Administration des ateliers</h3>
                    </div>
                    <div class="col-11 col-md-4 my-3">
                        <div class="picture-link rounded">
                            <a href="/admin/contact"><img class="workshop-picture rounded" src="/static/img/contact.jpeg" alt="Image atelier"></a>
                        </div>
                        <h3 class="text-center my-2">Administration des utilisateurs</h3>
                    </div>
                    <div class="col-11 col-md-4 my-3">
                        <div class="picture-link rounded">
                            <a href="#"><img class="workshop-picture rounded" src="/static/img/reservation.jpeg" alt="Image atelier"></a>
                        </div>
                        <h3 class="text-center my-2">Administration des réservations</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>