<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <th:block layout:fragment="head">
        <title>Espace administrateur</title>
        <link href="/static/scss/admin.css" rel="stylesheet"/>
    </th:block>

    <body>
        <div layout:fragment="body">
            <div class="container">
                <h1 class="text-center">Espace Administrateur</h1>
                <div class="row">
                    <div class="col-4">
                        <div>
                            <img class="workshop-picture" src="/static/img/workshop.jpg" alt="Image atelier">
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img class="workshop-picture" src="/static/img/contact.jpeg" alt="Image atelier">
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img class="workshop-picture" src="/static/img/reservation.jpeg" alt="Image atelier">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>