<div class="container" *ngIf="currentUser && isLoggedIn; else loggedOut">
  <h1 class="text-center my-4">Gestion des Contacts</h1>
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="text-end">
        <a class="btn btn-primary" routerLink="../admin-contact-new">Ajouter un contact</a>
      </div>
      <div class="table-responsive d-block d-md-none my-2">
        <table class="table table-bordered border-dark" *ngFor="let user of users; let index = index">
          <thead>
          <tr>
            <th scope="col">{{ "Contact " +  (index + 1) }}</th>
            <th scope="col">{{ user.username }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Nom</th>
            <td>{{ user.lastName }}</td>
          </tr>

          <tr>
            <th scope="row">Prénom</th>
            <td>{{ user.firstName }}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <th scope="row">Telephone</th>
            <td>{{ user.phone }}</td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>{{ user.roles[0]?.name === 'ROLE_USER' ? 'Utilisateur' : 'Administrateur' }}</td>
          </tr>
          <tr>
            <th scope="row" colspan="2">
              <div class="d-flex justify-content-around">
                <div><a class="link" routerLink="../admin-contact-edit/{{ user.id }}"><img class="icon" src="/assets/img/edit.png" alt="Logo éditer"></a></div>
                <div><a class="link" href="#"><img class="icon" src="/assets/img/delete.png" alt="Logo supprimer"></a></div>
              </div>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive d-none d-md-block my-2">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Surnom</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Telephone</th>
            <th scope="col">Role</th>
            <th scope="col" colspan="2">Modifier</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">Index</th>
            <td>{{ user.username }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.roles[0]?.name === 'ROLE_USER' ? 'Utilisateur' : 'Administrateur' }}</td>
            <td class="text-end td-edit"><a class="link" routerLink="../admin-contact-edit/{{ user.id }}"><img class="icon" src="/assets/img/edit.png" alt="Logo éditer"></a></td>
            <td class="td-delete"><a class="link" (click)="deleteUser(user.id)"><img class="icon" src="/assets/img/delete.png" alt="Logo supprimer"></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Veuillez vous connecter !
</ng-template>
