/***** Picture *****/

.badge-picture {
  width: 100%;
  object-fit: cover;
  max-width: 32px;
  max-height: 32px;
  margin-right: 15px;
  padding: 0;
}

/***** Icons *****/

.icon {
  width: 32px;
  height: auto;
  object-fit: cover;
  transition: 0.3s;
}

.icon:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  width: 35px;
  height: auto;
  border-radius: 50px;
}

/***** Lines *****/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-size td {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  max-width: 210px;
  min-width: 210px;
}

/***** Columns *****/

.td-edit {
  width: 60px;
}

.td-delete {
  width: 80px;
}

/***** Pagination *****/

.pagination a {
  border: none;
}

.pagination .div-actual-page {
  background-color: #75bd9f;
  border: none;
}
