<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <th:block th:replace="fragments/_bootstrap.html :: bootstrapHeadFragment"></th:block>
        <th:block layout:fragment="head"></th:block>
        <th:block th:replace="fragments/_jquerry.html :: jquerry"></th:block>
        <link th:replace="fragments/_leaflet.html :: leaflet">
    </head>
    <body>
        <header th:replace="fragments/_header.html :: headerFragment"></header>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>
        <div layout:fragment="body"></div>
        <th:block th:replace="fragments/_bootstrap.html :: bootstrapBodyFragment"></th:block>
    </body>
</html>