<h1 class="text-center my-4 ">Ajout d'un commentaire</h1>
<div class="row justify-content-center">
  <div class="col-11 col-md-8 col-lg-5">
    <form method="post" class="my-3" (ngSubmit)="commentaryNewForm.form.valid && onSubmit()" #commentaryNewForm="ngForm"
          name="form" novalidate>
      <div class="row">
        <div class="mb-3">
          <label class="form-label" for="title">Commentaire :</label>
          <ckeditor [editor]="Editor" class="form-control" id="title" name="title" [(ngModel)]="model.comment"
                    type="text" placeholder="commentaire ...">
          </ckeditor>
        </div>
        <div class="text-center my-3">
          <button class="btn btn-primary m-1">Ajouter</button>
          <a class="btn btn-secondary m-1" routerLink="/admin/workshop">Retour</a>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <b class="col-8 text-center">
      Commentaires
    </b>
    <b class="col-2">
      Utilisateur
    </b>
    <b class="col-2">
      Date
    </b>
  </div>
  <div class="row" *ngFor="let comment of comments">
    <p class="col-8" [innerHTML]="comment.comment | nl2br"></p>
    <div class="col-2">
      <div *ngIf="comment.diyUser.username != null; else userObject">
        {{ comment.diyUser.username }}
      </div>
      <ng-template #userObject>{{comment.diyUser}}</ng-template>
    </div>
    <div class="col-2">
      {{comment.createdAt | date : 'dd-MM-yy HH:mm'}}
    </div>
  </div>
</div>
