<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <head>
        <title>Index</title>
        <link href="/static/scss/admin.css" rel="stylesheet"/>
    </head>

    <div layout:fragment="body">
        <div class="background-home">
            <div class="container">
                <h1 class="text-center my-4">Bienvenue !</h1>
            </div>
        </div>

    </div>
</html>