<div class="container" *ngIf="isLoggedIn && showAdminBoard; else loggedOut">
    <h1 class="text-center my-4">Gestion des badges</h1>
    <div class="text-end d-flex justify-content-end">
        <div><a class="btn btn-primary m-1" routerLink="/admin/badge/new">Ajouter un badge</a></div>
        <div><a class="btn btn-secondary m-1" routerLink="/admin/home">Retour</a></div>
    </div>
    <div class="col-md-4 d-flex mt-5">
        <div class="col-md-5">
            <input class="form-control" type="search" name="searchBadge" placeholder="Rechercher" [(ngModel)]="searchBadge" (keyup.enter)="getAllBadges()">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive d-block d-md-none my-2">
                <table class="table table-bordered border-white my-4" *ngFor="let badge of badges; let index = index">
                    <thead>
                        <tr>
                            <th scope="col">{{ "Badge " + (index + 1) }}</th>
                            <th scope="col">{{ badge.name }}</th>
                        </tr>
                    </thead>
                    <tbody class="table-size">
                        <tr>
                            <th scope="row">Nb d'ateliers</th>
                            <td>{{ badge.step }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ badge.description }}</td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">
                                <div class="d-flex justify-content-around">
                                    <div class="col-5">
                                        <a routerLink="/admin/badge/edit/{{badge.id}}" class="link btn btn-warning col-12">
                                            Modifier
                                        </a>
                                    </div>
                                    <div class="col-5">
                                        <a (click)="deleteBadge(badge.id, badge.picturePath)" class="btn btn-danger col-12">
                                            Supprimer
                                        </a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive d-none d-md-block mb-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Badge</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Description</th>
                            <th scope="col">Nb d'ateliers à réaliser</th>
                            <th scope="col" colspan="2">Modifier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let badge of badges; let index = index">
                            <td>{{ index + 1 }}</td>
                            <td><img class="badge-picture" src="{{ s3 + badge.picturePath }}" alt="Badge"></td>
                            <td>{{ badge.name }}</td>
                            <td>{{ badge.description }}</td>
                            <td>{{ badge.step}}</td>
                            <td class="text-end td-edit">
                                <a routerLink="/admin/badge/edit/{{badge.id}}" class="link">
                                    <div class="btn btn-warning"><i class="bi bi-pencil-fill"></i></div>
                                </a>
                            </td>
                            <td class="td-delete">
                                <a (click)="deleteBadge(badge.id, badge.picturePath)">
                                    <div class="btn btn-danger"><i class="bi bi-trash"></i></div>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #loggedOut>
    <app-error401></app-error401>
</ng-template>
