<div class="container" *ngIf="isLoggedIn && showAdminBoard; else loggedOut">
  <h1 class="text-center my-4">Gestion des Commentaires</h1>
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="text-end d-flex justify-content-end">
        <div><a class="btn btn-secondary m-1" routerLink="/admin/home">Retour</a></div>
      </div>
      <div class="table-responsive d-block d-md-none my-2">
        <table class="table table-bordered border-dark" *ngFor="let workshop of workshops; let index = index">
          <thead>
          <tr>
            <th class="text-danger" scope="col">{{ workshop.title }}</th>
            <th scope="col">information</th>
          </tr>
          </thead>
          <tbody *ngFor="let comment of workshop.comments">
          <tr>
            <th scope="row">Utilisateur</th>
            <td>{{ comment.diyUser.username != null ? comment.diyUser.username : comment.diyUser }}</td>
          </tr>
          <tr>
            <th scope="row">Commentaire {{ index+1 }}</th>
            <td>{{ comment.comment }}</td>
          </tr>

          <tr>
            <th scope="row">Date</th>
            <td>{{ comment.createdAt | date : 'dd-MM-yy HH:mm' }}</td>
          </tr>
          <tr>
            <th scope="row">Visible</th>
            <td><input (click)="confirm(comment.id)" class="form-check-input" id="flexSwitchCheckChecked{{comment.id}}" name="confirmation"
                     [(ngModel)]="comment.confirmed" type="checkbox" value="{{ comment.confirmed }}"></td>
          </tr>

          </tbody>
        </table>
      </div>
      <div class="table-responsive d-none d-md-block my-2">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col-3">Atelier</th>
            <th scope="col-5">Commentaire</th>
            <th scope="col-2">Utilisateur</th>
            <th scope="col-1">Date/Heure</th>
            <th scope="col-1">Visible</th>
          </tr>
          </thead>
          <tbody *ngFor="let workshop of workshops">
          <tr *ngFor="let comment of workshop.comments">
            <td>{{ workshop.title }}</td>
            <td>{{ comment.comment }}</td>
            <td>{{ comment.diyUser.username != null ? comment.diyUser.username : comment.diyUser }}</td>
            <td>{{ comment.createdAt | date : 'dd-MM-yy HH:mm' }}</td>
            <td class="text-end td-edit">
              <input (click)="confirm(comment.id)" class="form-check-input" id="flexSwitchCheckChecked{{comment.id}}" name="confirmation"
                     [(ngModel)]="comment.confirmed" type="checkbox" value="{{ comment.confirmed }}">
            </td>
              <td class="td-delete"><a class="link" (click)="deleteCommentary(comment.id)"><img class="icon" src="/assets/img/delete.png" alt="Logo supprimer"></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <app-error401></app-error401>
</ng-template>
