<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-4 mt-5" *ngIf="isSuccessful">
            <div class="alert alert-success">Votre inscription a bien été enregistrée!</div>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Chargement...</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-11 col-md-4">
                <form class="row justify-content-center" *ngIf="!isSuccessful" name="form"
                      (ngSubmit)="registerForm.form.valid && onSubmit()" #registerForm="ngForm" novalidate>
                    <div class="my-4">
                        <ul class="title d-flex justify-content-center">
                            <li class="letter"><input type="checkbox" /><div class="yellow">I</div></li>
                            <li class="letter"><input type="checkbox" /><div class="green">N</div></li >
                            <li class="letter"><input type="checkbox" /><div class="turquoise">S</div></li>
                            <li class="letter"><input type="checkbox" /><div class="yellow">C</div></li>
                            <li class="letter"><input type="checkbox" /><div class="green">R</div></li>
                            <li class="letter"><input type="checkbox" /><div class="turquoise">I</div></li>
                            <li class="letter"><input type="checkbox" /><div class="yellow">P</div></li>
                            <li class="letter"><input type="checkbox" /><div class="green">T</div></li >
                            <li class="letter"><input type="checkbox" /><div class="turquoise">I</div></li>
                            <li class="letter"><input type="checkbox" /><div class="yellow">O</div></li>
                            <li class="letter"><input type="checkbox" /><div class="green">N</div></li>
                        </ul>
                    </div>
                    <div class="row col-11 col-lg-10 g-1 justify-content-between"
                         *ngIf="registerForm.submitted && isSignUpFailed">
                        <div class="alert alert-warning">Inscription échouée !<br/>{{ errorMessage }}</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="username">Utilisateur :</label>
                        <input class="form-control" id="username" name="username" [(ngModel)]="form.username" type="text"
                               placeholder="Utilisateur" required minlength="1" maxlength="100" #username="ngModel"/>
                        <div class="form-control alert-danger my-2" *ngIf="username.errors && registerForm.submitted">
                            <div *ngIf="username.errors['required']">Le nom est requis !</div>
                            <div *ngIf="username.errors['minlength']">L'identifiant doit faire plus de 1 caractère !</div>
                            <div *ngIf="username.errors['maxlength']">L'identifiant doit faire moins de 100 caractères !</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Adresse e-mail :</label>
                        <input class="form-control" id="email" name="email" [(ngModel)]="form.email" type="email"
                               placeholder="Adresse email" required email #email="ngModel"/>
                        <div class="form-control alert-danger my-2" *ngIf="email.errors && registerForm.submitted">
                            <div *ngIf="email.errors['required']">L'adresse email est requise !</div>
                            <div *ngIf="email.errors['email']">L'adresse email doit être une adresse valide !</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Mot de passe :</label>
                        <input class="form-control" id="password" name="password" [(ngModel)]="form.password" type="password"
                               placeholder="Mot de passe" required minlength="1" #password="ngModel"/>
                        <div class="form-control alert-danger my-2" *ngIf="password.errors && registerForm.submitted">
                            <div *ngIf="password.errors['required']">Le mot de passe est requis</div>
                            <div *ngIf="password.errors['minlength']">Le mot de passe doit faire plus de 1 caractère !</div>
                        </div>
                    </div>
                    <div class="text-center my-4">
                        <button class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
