<div class="container">
    <div class="row">
        <div class="my-4">
            <ul class="title d-flex justify-content-center">
                <li class="letter"><input type="checkbox" /><div class="yellow">C</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">A</div></li >
                <li class="letter"><input type="checkbox" /><div class="turquoise">R</div></li>
                <li class="letter"><input type="checkbox" /><div class="yellow">T</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">E</div></li>
            </ul>
        </div>
    </div>
    <div class="row my-4">
        <div class="col mb-5" id="map"></div>
    </div>
</div>
