<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/_layout}">

    <head>
        <title>Ajout d'un atelier</title>
        <link href="/static/scss/admin.css" rel="stylesheet"/>
    </head>

    <div layout:fragment="body">
        <div class="container">
            <h1 class="text-center my-4">Ajout d'un nouvel atelier</h1>
            <div class="row justify-content-center">
                <div class="col-11 col-md-8 col-lg-5">
                    <form method="post" th:action="@{/user/workshop/add}" enctype="multipart/form-data" th:object="${workshop}">
                            <input name="id" th:field="${workshop.id}" type="hidden">
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label" for="title">Nom de l'atelier :</label>
                                <input class="form-control" id="title" name="title" th:field="*{title}" type="text" placeholder="Atelier design">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="picture">Photo :</label>
                                <input class="form-control" id="picture" name="picture_file" type="file">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="streetNumber">N° de rue :</label>
                                <input class="form-control" id="streetNumber" name="streetNumber" th:field="*{streetNumber}" type="number" placeholder="1">
                            </div>
                            <div class="col-md-9 mb-3">
                                <label class="form-label" for="street">Rue/Avenue/Allée :</label>
                                <input class="form-control" id="street" name="street" th:field="*{street}" type="text" placeholder="Avenue du Champ de Mars">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="postCode">Code Postal :</label>
                                <input class="form-control" id="postCode" name="postCode" th:field="*{postCode}" type="number" placeholder="45074">
                            </div>
                            <div class="col-md-9 mb-3">
                                <label class="form-label" for="city">Ville :</label>
                                <input class="form-control" id="city" name="city" th:field="*{city}" type="text" placeholder="Orléans">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="description">Description :</label>
                                <textarea class="form-control" id="description" name="description" th:field="*{description}" rows="3"></textarea>
                            </div>
                            <div class="mb-3" th:if="${user.role == 'ROLE_ADMIN'}">
                                <label class="form-label" for="confirmation">Visible :</label>
                                <input type="checkbox"  id="confirmation" name="confirmation" th:field="*{confirmation}">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>