<div class="container" *ngIf="isLoggedIn && showAdminBoard; else loggedOut">
    <h1 class="text-center my-4">Modifier un badge</h1>
    <div class="text-end d-flex justify-content-end">
        <div><a class="btn btn-secondary m-1" routerLink="/admin/badge">Retour</a></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-5">
            <form method="post" class="my-3" (ngSubmit)="badgeEditForm.form.valid && onSubmit()" #badgeEditForm="ngForm" name="form" novalidate>
                <div class="justify-content-between"
                     *ngIf="badgeEditForm.submitted && isSignUpFailed">
                    <div class="alert alert-warning">La création du badge à échouée !<br/>{{ errorMessage }}</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Nom du badge :</label>
                    <input class="form-control" id="name" name="name" [(ngModel)]="badge.name" type="text" required #name="ngModel">
                    <div class="form-control alert-danger my-2" *ngIf="name.errors && badgeEditForm.submitted">
                        <div *ngIf="name.errors['required']">Le nom du badge est requis !</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="picture">Image du badge :</label>
                    <input class="form-control" id="picture" (change)="selectFile($event)" type="file">
                </div>
                <div class="mb-3 row">
                    <div class="{{badge.condition == 'manual' ? 'col-md-12' : 'col-md-10'}}">
                        <label class="form-label" for="condition">Condition :</label>
                        <select class="form-control" id="condition" name="condition" [(ngModel)]="badge.condition" #condition>
                            <option value="manual" [selected]="badge.condition ? badge.condition == 'manual' : undefined">Manuellement</option>
                            <option value="after" [selected]="badge.condition ? badge.condition == 'after' : undefined">Nombre d'ateliers participés</option>
                        </select>
                    </div>
                    <div class="col-md-2" *ngIf="badge.condition != 'manual'">
                        <label class="form-label" for="step">Nb :</label>
                        <input class="form-control" id="step" name="step" [(ngModel)]="badge.step"  type="number" [readOnly]="badge.condition == 'manual'">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description :</label>
                    <textarea class="form-control" id="description" name="description" rows="4" [(ngModel)]="badge.description" type="text"></textarea>
                </div>
                <div class="text-center my-3">
                    <button class="btn btn-primary m-1">Modifier</button>
                    <a class="btn btn-secondary m-1" routerLink="/admin/badge">Retour</a>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #loggedOut>
    <app-error401></app-error401>
</ng-template>
