<div class="container" *ngIf="isLoggedIn && showAdminBoard; else loggedOut">
  <h1 class="text-center my-4">Ajout d'un nouvel atelier</h1>
  <div class="row justify-content-center">
    <div class="col-11 col-md-8 col-lg-5">
      <form method="post" class="my-3" (ngSubmit)="workshopNewForm.form.valid && onSubmit()" #workshopNewForm="ngForm" name="form" novalidate>
        <div class="row">
          <input type="hidden" [(ngModel)]="model.diyUser" id="{{authuser.id}}" name="diyUser">
          <div class="justify-content-between"
               *ngIf="workshopNewForm.submitted && isSignUpFailed">
            <div class="alert alert-warning">Inscription échouée !<br/>{{ errorMessage }}</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="title">Nom de l'atelier :</label>
            <input class="form-control" id="title" name="title" [(ngModel)]="model.title" type="text" placeholder="Nom de l'atelier">
          </div>
          <div class="mb-3">
            <label class="form-label" for="places">Nombre de place :</label>
            <input class="form-control" id="places" name="places" min="1" [(ngModel)]="model.limitedPlaces" type="number" placeholder="4">
          </div>
          <label for="workshop-categorie">Categorie d'atelier : </label>
         <div class="mb-3">
           <select
            [(ngModel)]="subCategoryId" class="form-control" id="workshop-categorie" name="workshop-categorie">
            <optgroup *ngFor=" let category of categories; let index = index" label="{{ category.name }}">
              <option
                *ngFor=" let subcategory of category.subCategories; let index = index"
                value="{{ subcategory.id }}">
                {{ subcategory.name }}
              </option>
            </optgroup>
          </select>
         </div>
          <div class="mb-3">
            <label class="form-label" for="picture">Photo :</label>
            <input class="form-control" id="picture" (change)="selectFile($event)" type="file">
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label" for="streetNumber">N° de rue :</label>
            <input class="form-control" id="streetNumber" name="streetNumber" [(ngModel)]="model.streetNumber" type="number" placeholder="1">
          </div>
          <div class="col-md-9 mb-3">
            <label class="form-label" for="street">Rue/Avenue/Allée :</label>
            <input class="form-control" id="street" name="street" [(ngModel)]="model.street" type="text" placeholder="Avenue du Champ de Mars">
          </div>
          <div class="col-md-3 mb-3">
            <label class="form-label" for="postCode">Code Postal :</label>
            <input class="form-control" id="postCode" name="postCode" [(ngModel)]="model.postCode" type="number" placeholder="45074">
          </div>
          <div class="col-md-9 mb-3">
            <label class="form-label" for="city">Ville :</label>
            <input class="form-control" id="city" name="city" [(ngModel)]="model.city" type="text" placeholder="Orléans">
          </div>
          <div class="mb-3">
            <label class="form-label" for="date">Date et heure de l'atelier :</label>
            <input class="form-control" type="datetime-local"
                      name="date" id="date" [(ngModel)]="model.date" required/>
          </div>

          <div class="mb-3">
            <label class="form-label" for="description">Description :</label>
            <ckeditor [editor]="Editor" name="description" id="description" [(ngModel)]="model.description"></ckeditor>
          </div>
          <div class="text-center my-3">
            <button class="btn btn-primary m-1">Ajouter</button>
            <a class="btn btn-secondary m-1" routerLink="/admin/workshop">Retour</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <app-error401></app-error401>
</ng-template>
