<div class="container">
    <div class="row justify-content-center">
        <div class="my-4">
            <ul class="title d-flex justify-content-center">
                <li class="letter"><input type="checkbox" /><div class="yellow">R</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">E</div></li>
                <li class="letter"><input type="checkbox" /><div class="turquoise">S</div></li>
                <li class="letter"><input type="checkbox" /><div class="yellow">E</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">R</div></li>
                <li class="letter"><input type="checkbox" /><div class="turquoise">V</div></li>
                <li class="letter"><input type="checkbox" /><div class="yellow">A</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">T</div></li>
                <li class="letter"><input type="checkbox" /><div class="turquoise">I</div></li>
                <li class="letter"><input type="checkbox" /><div class="yellow">O</div></li>
                <li class="letter"><input type="checkbox" /><div class="green">N</div></li>
                <li class="letter"><input type="checkbox" /><div class="turquoise">S</div></li>
            </ul>
        </div>
    </div>
    <div class="text-end d-flex justify-content-end">
        <div><a class="btn btn-secondary m-1" routerLink="/mes-ateliers">Retour</a></div>
    </div>
    <div class="row justify-content-around mb-4">
        <div *ngFor="let workshop of workshops; let index = index" class="card col-11 col-md-3 my-4 mx-1">
            <img class="workshop-picture" src="{{ workshop.picturePath == static ? workshop.picturePath : s3 + workshop.picturePath }}" alt="Image de l'atelier">
            <div class="card-body">
                <h5 class="card-title text-center mb-3">{{workshop.title}}</h5>
                <p class="card-text col text-truncate mb-1" [innerHTML]="workshop.description | nl2br | truncate:[33, '...'] "></p>
                <div class="text-muted my-2">
                    <i class="bi bi-calendar3 icon"></i>
                    <span>{{workshop.date | date : 'dd/MM/yyyy' }} à {{workshop.date | date : 'HH:mm' }}</span>
                </div>
                <div>
                    <div class="text-muted my-2" *ngIf="workshop.limitedPlaces - workshop.reservationUser.length == 0">
                        <i class="bi bi-person-fill icon text-danger"></i>
                        <span class="text-danger">Complet</span>
                    </div>
                    <div class="text-muted my-2" *ngIf="workshop.limitedPlaces - workshop.reservationUser.length != 0">
                        <i class="bi bi-person-fill icon"></i>
                        <span>{{ workshop.limitedPlaces - workshop.reservationUser.length }} / {{ workshop.limitedPlaces }} places disponibles</span>
                    </div>
                </div>
                <div class="row justify-content-around mt-4 mb-2">
                    <a routerLink="/workshop/{{ workshop.id }}" (click)="showWorkshop(workshop.id)"
                       class="btn btn-primary col-5 ">Détails</a>
                    <button type="button" class="btn btn-danger col-5" data-bs-toggle="modal"
                            [attr.data-bs-target]="'#modal' + index">Annuler
                    </button>
                </div>
                <div class="modal fade" [attr.id]="'modal' + index" tabindex="-1" aria-labelledby="modalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Annuler votre reservation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="my-3 text-center">Voulez-vous vraiment annuler votre reservation suivante ?</p>
                                <p class="text-center fw-bold">{{ workshop.title }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success"
                                        data-bs-dismiss="modal" (click)="deleteReservation(workshop.id)">Oui
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


